@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


html{
   size-adjust: 1080px;
   top: 0px;
   left: 0px;
   width: 1600px;
   height: 1200px;
   background: transparent linear-gradient(180deg, #FFFFFF 0%, #E6E6E6 21%, #808080 100%) 0% 0% no-repeat padding-box;
   opacity: 1;
}

body{
   background: transparent linear-gradient(180deg, #FFFFFF 0%, #E6E6E6 21%, #808080 100%) 0% 0% no-repeat padding-box;
   position: absolute;
   top: 0px;
   left: 0px;
   width: 1600px;
   height: 1200px;
}
.fondob {

   position: absolute;    
   top: 200px;
   left: 100px;
   width: 1400px;
   height: 800px;
   border: 1px solid #707070;
   background-color: white;

}




.cantidades{
   display: block;
   text-align: left;
   position: absolute;
   font-family: "Open Sans";
   font-size: 20px;
   color: #FFFFFF;
   right: 13px;
   left: 13px;
   top: 149px;
   opacity: 1;
   border: none;
   width: 84px;
   height: 27px;
}
.opcant{
   color: transparent;
   background-color: transparent;
   size: 25px;
}
.numero4{
   margin-top: -200px;
   margin-left: 2px;
   color: #FFFFFF80;
   font-size: 20px;
   font-family:"opensans_regular";
}
.numero5{
   margin-top: 53px;
   margin-left: 2px;
   color: #FFFFFF80;
   font-size: 20px;
   font-family:"opensans_regular";
}
.numero6{
   margin-top: 53px;
   margin-left: 2px;
   color: #FFFFFF80;
   font-size: 20px;
   font-family:"opensans_regular";
}

.numero4:hover, .numero5:hover, .numero6:hover {
   color: #FFFFFF;
}



.farriba{
   cursor: pointer;
   display: block;
   position: absolute;
   text-align: center;
   top: 40px;
   left: 43.19px;
}

.fabajo{
   cursor: pointer;
   display: block;
   position: absolute;
   text-align: center;
   bottom: 40px;
   left: 43.19px;
}


.scantidad{
   display: block;
   position: absolute;
   top: 200px;
   left: 1392px;
   width: 110px;
   height: 804px;
   background-color: #212020;
   border-radius: 8px;
   opacity: 1;
}
.scantidad2 {
   display: block;
   position: absolute;
   top: 180px;
   left: 1289.5px;
   width: 110px;
   height: 619px;
   background-color: #212020;
   border-radius: 8px;
   opacity: 1;
}
.columna{
   color: #606060;
   position: absolute;
   display: block;
   left: 42px;
   top: 330px;
   bottom: 250px;
   font-size: 25px;
   width: 26px;
   height: 200px;
   line-height: 46px;
}
.column2{
   color: #eb3c3c;
   position: absolute;
   display: block;
   left: 23px;
   top: 330px;
   bottom: 250px;
   font-size: 22px;
   text-align: center;
   width: 65px;
   height: 200px;
   line-height:46px;
}
.valores{
   display: block;
   text-align: left;
   position: absolute;
   font-family: "Open Sans";
   font-size: 20px;
   color: #FFFFFF;
   left: 31px;
   top: 149px;
   opacity: 1;
   border: none;
   width: 84px;
   height: 27px;
}


p:active , p :focus{ 
    background-color: white;


}




.encabezado{
   margin-top: 43px;
   width: 1400px;
   height: 44px;
   background-color: transparent;
}

.logo{
  margin-left: 43px;
}
 
.comprar_tarjeta{
   position: absolute;
   font-family: "open sans";
   font-size: 30px;
   text-decoration: none;
   color: black;
   margin-left: 500px;
 
}

.saldo{
   position: absolute;
   font-family: "open sans";
   font-size: 30px;
   text-decoration: none;
   color: black;
   margin-left:765px;
}

.lupa{
   margin-top: 9PX;
   position: absolute;
   margin-left: 916.7px;
}

.carro{
   margin-top: 5px;
   position: absolute;
   margin-left: 984.67px;

}

.tarjeta{
   position: absolute;
   top: 122px;
   left: 227px;
   width: 884px;
   height: 497px;
   background: transparent ;
   opacity: 1;
}
.tarjeta2{
   position: absolute;
   top: 99px;
   left: 159px;
   width: 176px;
   height: 124px;
   opacity: 1;
   background: transparent;
}

.pie_de_pagina{
   margin-top: 560px;
   width: 1300px;
   height: 152px;
   background-color: transparent;
}

.tarjeta_tex{
   position: absolute;
   font-family: "Open Sans";
   font-weight:615;
   font-size: 40px;
   text-decoration: none;
   color: black;
   margin-left:58px;
}

.valor{
   position: absolute;
   font-family: "Open Sans";
   font-weight: 615;
   font-size: 27px;
   text-decoration: none;
   color: black;
   margin-left:58px;
   margin-top: 99px;
}

.c_amarillo{
   display: block;
   position: absolute;
   top: 657px;
   left: 1080px;
   width: 160px;
   height: 114px;
   background: #d5ff43;
   border-radius: 8px;
   opacity: 1;
      position: absolute;
      font-family: "open sans";
      text-decoration: none;
      color: black;
      font-size: 26px;
      text-align: center;

}
